[2021-02-11 09:59] moyogo commented on #159
The U+0305 COMBINING OVERLINE should be U+0304 COMBINING MACRON:
CHŌ̤̄NG SĪ̄ GĪ̄.
1 Dĭ buōi-chǒ gâ̤ sî-hē Ciōng-Dī̄ kṳé tínt bī dī.
2 Dī sī lòng kóng iǎng ō̤̄ng gâ̤; chéng tâing gâ̤ sù-cài
dú sī ú-ō̤̄ng. Ciōng-Dī gâ̤ Sěng hū dāu iŏ̤ng sṳ̌
**3 mīng. Ciōng-Dī̄ uā, Niōng iǔ guáng: ciū iǔ guáng**
4 hīng chṳ̆ lâ̤. Ciōng-Dī chū iŏ̤ng guáng sī děng
**hǎu: Ciōng-Dī ciū nà iŏ̤ng guáng iáu ō̤̄ng bṳ́in

[2021-02-12 07:55] StatisticalProgrammer commented on #190
Thank you, @pauldhunt, for the informative reply.

While on the topic of small caps, I alert you that the **regular** font's small caps does not work for my LaTeX configuration (fontspec, TeX Studio, MikTeX) on Windows 10, but the small caps work fine for the bold. I used the Display-Regular font to create the pdf file form which this was snipped:

![image](https://user-images.githubusercontent.co

[2021-02-16 05:51] KrasnayaPloshchad commented on #190
This character is encoded in U+A7AE (Ɪ).

[2021-02-16 06:03] KrasnayaPloshchad opened #211 "Add majuscule small capital I (Ɪ)"
This letter have been used in some publications in Kulango languages in Côte d'Ivoire in the 1990s, the code point is U+A7AE.

[2021-02-16 12:45] StatisticalProgrammer commented on #190
Source Sans has in its fractional numerals the 1 without the lower serif, according to this Youtube video from fontribute (TypeThursday's Thomas Jockin, with Erin McLaughlin):

As this is a design choice consistent with the fractions (rather than a semantic error), The above graphic should change the red 1 to a blue.

[2021-02-18 00:03] frankrolf commented on #201
Here we go: https://www.npmjs.com/package/source-sans
Please not the updated package name (no more “pro”)

[2021-02-18 00:03] #201 closed

[2021-02-27 13:38] miguelsousa commented on #190
@StatisticalProgrammer I've wrapped the LaTeX code above with backticks to make it a [fenced code block with syntax highlighting](https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks).

[2021-03-01 01:10] pauldhunt commented on #211
This form is already present in the fonts, I will map it to the proper code point in the next release.

[2021-03-02 10:50] timc3 commented on #192
Is it a different font to Source Sans Pro? This is ridiculous.

[2021-03-02 17:20] dixius99 commented on #192
Just an update that Source Serif Pro has been renamed to Source Serif 4. So my comment above is no longer valid.

We now have Source Serif 4, Source Sans 3, and Source Code Pro.

[2021-03-03 23:18] pauldhunt commented on #192
@timc3 a font is a piece of software and as the software is quite different from the previous major version, there is no reason not to reflect this in the name of the software. Software is not always backward compatible and backward compatibility is not something I want to be held accountable for with this project, hence the break in continuity with the software name.

[2021-03-03 23:18] #192 closed

[2021-03-11 21:53] t2b3 opened #212 "Decrease line height"
Dear sir or madam.

I would like to suggest an improvement.
By decrasing the default line height, Source Sans may be more suitable for UI purposes, see

![image](https://user-images.githubusercontent.com/3286756/110859790-43ecff80-82bc-11eb-9eb1-4beb70b7ba61.png)

Yours sincerely,
Tobias Predel

[2021-03-11 22:12] frankrolf commented on #212
The choice of default line height is informed by the height of accented characters, some of which will be clipped if the line height would be chaged.
MS Word is one of the few applications in which line height cannot be _de_creased, but your example above looks good considering the line length.

Closing this bug as “as designed”, please feel free to ask follow-up questions right here.

[2021-03-11 22:12] #212 closed

[2021-03-29 12:50] Daymarius opened #213 "Hinting for Windows"
Need hinting like in 2.021 version for Windows.

[2021-03-30 00:12] pauldhunt commented on #213
@Daymarius we’ve stopped manually hinting the TT fonts, is there functionality that you are missing from the 2.021 version that is in the newer versions? If not and if TT hinting is of a concern to you, you might consider just sticking with the old version that has the hinting that works for you?

[2021-03-30 03:46] Daymarius commented on #213
In the old version with hinting there is no cyrillic in italics. Do not misunderstand me, I just want a good font to be even better for more people. But of course manual hinting should be done already in the final version or near the final, so that there are not many glyph changes so as not to re-hinting. Windows are very dependent on hinting.

[2021-04-27 18:46] ousia opened #214 "different glyphs for tonos and oxia"
Although oxia is tonos (that is, the monotonic Greek accent is acute), all fonts that contains both accented glyphs (see below) have different inclination for both accents.

This is problematic with polytonic Greek, because both acute and grave accents are mixed,

![toss-1](https://user-images.githubusercontent.com/203767/116295528-7a61d980-a799-11eb-8877-1548a001626d.png)

![toss-2](https://user-

[2021-04-28 06:38] pauldhunt commented on #214
@ousia I’m not sure why you’re calling out @frankrolf on this issue, but it seems like a good suggestion. Will try to get this in the next update.

[2021-05-01 11:30] ousia commented on #214
@pauldhunt, sorry for my misunderstanding.

I thought that Frank was in charge for the Greek part of the typeface.

Congratulations for your excellent work on Source Sans.

[2021-05-02 07:08] Linguistx opened #215 "Request to add 4 additional IPA characters: ʛ, ⱱ, ǀ, ǁ (was: International Phonetic Alphabet support)"
Love this font. It almost has all IPA symbols but I noticed four missing glyphs (only tested Regular weight)

- ʛ
- ⱱ
- ǀ
- ǁ

Are there any plans to add these? It's always great to have more fonts that support IPA, because there's only a handful that do.

Reference: https://www.phon.ucl.ac.uk/home/wells/ipa-unicode.htm

[2021-05-11 19:39] erniemarch2 commented on #199
confirmed in build 3.038

[2021-05-13 08:53] Kimjisung2 opened #216 "Feedback"
It would be nice to add all the characters from the world to Source Sans and set it as the default font for Android. And it would be nice if the day comes when Samsung and Apple can use this font as a system font.

[2021-05-19 00:50] projectshifter opened #217 "What are /t_h_e_y etc?"
The most recent development builds of Source Sans 3 contain a set of 6 glyphs that look like variations on U+210B ℋ. Their glyph names are case variants of `t_h_e_y` and `t_h_e_i_r`, so I’d assume they somehow correspond to the English pronouns _they_ and _their_. 1) How do you activate them, and 2) why are they handled at the typeface level?

[2021-05-19 05:20] projectshifter opened #218 "Kerning between IPA symbols and brackets"
IPA transcriptions are conventionally delimited in square brackets (phonetic), slashes (phonemic) or vertical bars (morphological). A number of IPA symbols (ʃ ɗ ʄ etc.) have a hook pointing to the right that clashes with a following boundary character.

In this transcription of the Hebrew word for ‘sun’, the esh is kerned with respect to the opening bracket, but it runs together with the closing b

[2021-05-19 06:08] pauldhunt commented on #218
I’ll fix this for the next release.

[2021-05-19 06:30] pauldhunt commented on #217
These are experimental ligatures in the discretionary ligatures (`dlig`) feature that replace gendered pronouns with custom glyphs proposed by Sarah Gephart. These are off by default and can only be activated in the Source Sans fonts by turning on the feature. For more information see:
[Typographics 2018: Collaborative Digression(s) with Alicia Cheng & Sarah Gephart](https://vimeo.com/302898160)

[2021-05-19 06:31] #217 closed

[2021-05-19 06:32] pauldhunt commented on #216
That’s very kind of you. I would need a lot more help to make this happen, but it’s nice to hear you say that you appreciate the design this much. 🙏🏽

[2021-05-19 06:33] #216 closed

[2021-05-19 06:56] projectshifter commented on #215
Has this actually been addressed in the source files? The latest development build (3.38) still doesn’t support these. Also missing are:

* U+02D2 through U+02D7, the standalone forms of the relative articulation diacritics,
* U+02E5 through U+02E9, the official tone letters which require OpenType substitutions to render properly,
* U+025D, the conventional transcription of the vowel in American E

[2021-05-19 07:18] projectshifter commented on #215
I noticed that when typing affricates with a tie bar ([t͡s t͡ʃ] etc.), they convert to ligatures ([ʦ ʧ] etc.). It’s true that digraphs with a tie bar and ligatures are functionally identical within IPA, but they’re still different glyph sequences and should render differently.

[2021-05-19 07:47] projectshifter commented on #215
Will do. Thanks for the information though.

[2021-05-19 09:10] projectshifter opened #219 "Request for IPA symbols: ɝ, Chao tone letters, standalone diacritics, tie bar, superscripts"
U+025D ɝ is used in English transcriptions to indicate the American pronunciation of the vowel in _nurse_ /nɝːs/ and _term_ /tɝːm/.

U+02E5–U+02E9 ˥ ˦ ˧ ˨ ˩ are a set of tone letters designed by Yuen Ren Chao in the 1920s and adopted officially by the IPA in 1989, though they had been used continuously since their inception. There is also a set of reversed tone letters at U+A712–U+A716 ꜒ ꜓ ꜔ ꜕ ꜖;

[2021-05-19 09:49] pauldhunt commented on #219
Thanks for the comprehensive information. I’m just finishing an updated version of the fonts, so these changes won’t make it into the next version, but will try to work these into the following update.

[2021-05-20 08:56] Kimjisung2 opened #220 "Feedback"
It would be nice to expand the Source Sans font to all characters in the world and add it to the system fonts of various devices such as Google, Apple, and Samsung.

[2021-05-21 06:51] moyogo commented on #215
Any feature that replaces the ligature tie sequences with the ligature symbols is wrong.

The IPA deprecated the ligature symbols ʣ ʥ ʤ ʨ ʦ ʧ in 1989 and recommended the use of ligature ties, because many more sounds can be represented with ties rather than having to create new ligature symbols. These ligature symbols should not be used anymore but are still very common in documents.
The official

[2021-05-24 02:38] #220 closed

[2021-05-24 02:39] pauldhunt commented on #220
duplicate of issue #216

[2021-06-28 06:48] #208 closed

[2021-06-28 06:48] #207 closed

[2021-06-28 06:49] #206 closed

[2021-06-28 06:52] #215 closed

[2021-06-28 06:52] #214 closed

[2021-06-28 06:52] #211 closed

[2021-06-28 06:53] #218 closed

[2021-06-28 06:53] #202 closed

[2021-06-28 06:53] #199 closed

[2021-06-28 06:53] #198 closed

[2021-06-28 06:53] #195 closed

[2021-06-28 06:54] #190 closed

[2021-06-28 06:54] #178 closed

[2021-06-28 06:54] #159 closed

[2021-06-28 08:48] pauldhunt commented on #219
@projectshifter I’ve just pushed the [latest update](https://github.com/adobe-fonts/source-sans/releases/tag/3.042R) which includes most of your changes requested above, including addition of U+025D ɝ; U+02D2–U+02D7 ˒ ˓ ˔ ˕ ˖ ˗; U+1D51 ᵑ, U+1DAC ᶬ and U+1DAE ᶮ. This release also corrects tie behavior. Please check to see that these features are now operating as expected. I will add the rest of the

[2021-06-28 08:53] pauldhunt commented on #213
This is an issue that I will not be attending to in the immediate future. If anyone would like to hint the TTF fonts, I would be happy to incorporate them into this project.

[2021-06-30 04:09] projectshifter opened #222 "African language support"
To support the same set of languages as [https://github.com/adobe-fonts/source-serif/issues/67](#67) and [https://github.com/adobe-fonts/source-serif/issues/76](#76) on the Source Serif repo, the following glyphs are missing:

U+0189 Ɖ
U+0191 Ƒ
U+0198 Ƙ
U+0199 ƙ
U+019D Ɲ
U+01B2 Ʋ
U+01B3 Ƴ
U+01B4 ƴ

[2021-06-30 16:07] SFr682k opened #223 "Typo in Copyright notice of font files"
There’s a typo in the font files’ copyright notice (see e.g. `SourceSans3-Regular.otf`); it currently reads:

To fix this, `\2020` (Dagger) would need to be replaced with `\2019` (Right Single Quotation Mark) in the following line:
https://github.com/adobe-fonts/source-sans/blob/ecf13e573bcce1de7c31d62c022d5830b927e20f/familynameIDs.fea#L4

[2021-06-30 16:12] frankrolf commented on #223
@pauldhunt Unicode-escapes are no longer necessary in feature files, so it can be
`nameid 0 "© 2010 - 2021 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name ‘Source’";`

[2021-07-11 13:27] NikitaGamer64 opened #224 "Support for Abkhazian, Kazakh, Azerbaijanian & Turkish language"
Some glyphs present in abovementioned languages might be missing. Can you please make sure they are in the font, and if they’re not, add them:
U+04D8 Ә; U+04D9 ә
U+04F6 Ӷ; U+04F7 ӷ
U+0492 Ғ; U+0493 ғ
U+04E0 Ӡ; U+04E1 ӡ
U+049A Қ; U+049B қ
U+049E Ҟ; U+049F ҟ
U+04A2 Ң; U+04A3 ң
U+04E8 Ө; U+04E9 ө
U+0524 Ԥ; U+0525 ԥ
U+04B0 Ұ; U+04B1 ұ
U+04AE Ү; U+04AF ү
U+04B2 Ҳ; U+04B3 ҳ
U+04BA Һ; U+04BB һ
U+04B4 Ҵ;

[2021-07-11 13:32] NikitaGamer64 opened #225 "Need a list of languages supported by Source Sans font and its spin-offs"
Can you please provide a full list of supported languages at this time? Of course, some branches like Source Han Sans series that support Chinese, Japanese and Korean, for example, are also included in my question. I need this list to know what missing or buggy glyphs to pull requests for.

[2021-07-12 01:19] projectshifter commented on #224
Source Sans already supports most of these. Turkish, Azerbaijani, and the current version of Kazakh Latin are fully supported by the Adobe Latin 3 character set, and Kazakh Cyrillic is supported by Adobe Cyrillic 2.

The only characters currently missing are the ones specific to Abkhaz.

![image](https://user-images.githubusercontent.com/79190852/125216749-fbe2e700-e273-11eb-8c26-170fa3607712.png)

[2021-07-12 08:32] NikitaGamer64 commented on #224
Can you then add Abkhaz specific symbols?

[2021-07-13 01:44] pauldhunt commented on #224
@NikitaGamer64 I will put these on the next slated update.

[2021-07-13 02:59] pauldhunt commented on #225
@NikitaGamer64 I’m afraid you will have to audit the fonts yourself to find if they support the languages that you need. I’m not sure it’s even possible for me to tell you every language the fonts support as any set of languages audited for will only be a subset of all the possible languages that can be covered. If you (or anyone else) would like to do this work and contribute your findings back t

[2021-07-13 08:25] frankrolf commented on #225
To add to Paul’s comment – the “list of languages supported” depends a lot on the user’s interpretation of what “support” constitutes.
Source Sans fully supports Adobe’s AL1 through 4 character sets, more information (including language support of these character sets) about those here: https://github.com/adobe-type-tools/adobe-latin-charsets

For curiosity’s sake, I compared Source Sans’ charset

[2021-07-13 10:08] dkoutevska opened #226 "Wrong 'д' glyph in Bulgarian Cyrillic"
Hello.
I'm using this font for web, and more specifically the Bulgarian Cyrillic features (lang="bg").

BUG:
I've noticed that the lowercase `д` glyph is not the correct one for Bulgarian Cyrillic.
It's rendering the `uni0434.a`, but the correct one  is `uni0434.c`:
<img width="933" alt="Screenshot at Jul 13 12-42-26" src="https://user-images.githubusercontent.com/16247048/125432762-4a52c510-3f22-

[2021-07-13 13:43] frankrolf commented on #226
As I am reading the feature code here, I assume the roof-shaped д was chosen deliberately:
https://github.com/adobe-fonts/source-sans/blob/master/Roman/locl_cyrl.fea#L6-L11
https://github.com/adobe-fonts/source-sans/blob/master/familyGSUB.fea#L1356-L1397

To get the g-shaped д, use Stylistic Set 7 or cv14 (e.g. `font-feature-settings: "ss07";`)

<img width="1066" alt="Screen Shot 2021-07-13 at 15

[2021-07-13 13:43] #226 closed

[2021-07-13 14:51] dkoutevska commented on #226
Thank you for the fast response @frankrolf ! :)

[2021-07-13 16:17] NikitaGamer64 commented on #225
Let me look up all possible languages and conclude the list

[2021-07-14 08:10] #223 closed

[2021-07-15 11:38] NikitaGamer64 commented on #224
For some reasons I don’t have **any** Cyrillic glyphs in Source Sans font

[2021-07-15 11:49] NikitaGamer64 commented on #225
Is it possible to add an enhancement label at this issue without removing question label? Cause I found some symbols that needs to be added: U+037F Ϳ U+03F3 ϳ

[2021-07-15 11:59] NikitaGamer64 commented on #225
I wonder where I can find Source Sans or similar fonts for more scripts like Arabic, Devanagari and more

[2021-07-15 12:14] NikitaGamer64 commented on #225
Found more missing glyphs for Venda:
U+1E12 Ḓ U+1E13 ḓ
U+1E3C Ḽ U+1E3D ḽ
U+1E4A Ṋ U+1E4B ṋ
U+1E70 Ṱ U+1E71 ṱ
U+032D ̭

[2021-07-15 12:20] NikitaGamer64 commented on #225
U+019D Ɲ is missing as well

[2021-07-15 13:35] frankrolf commented on #225
What is your goal?
Suggestions for glyph additions will immediately have more traction if there’s a solid reason for their addition.

[2021-07-15 13:37] NikitaGamer64 commented on #225
I’m making sure that more languages are supported by this font

[2021-07-15 13:48] NikitaGamer64 opened #227 "Support for Venda and Mari languages"
A new version of this font needs to have more glyphs that are missing in this one:
U+1E12 Ḓ U+1E13 ḓ
U+1E3C Ḽ U+1E3D ḽ
U+1E4A Ṋ U+1E4B ṋ
U+1E70 Ṱ U+1E71 ṱ
U+032D ̭

U+04A4 Ҥ U+04A5 ҥ
U+04D2 Ӓ U+04D3 ӓ
U+04F0 Ӱ U+04F1 ӱ
U+04F8 Ӹ U+04F9 ӹ

[2021-07-15 23:00] pauldhunt commented on #225
@NikitaGamer64 Thanks for your concern. I’m hoping that the next version of Source Sans will address adding more characters for African languages, but this is something that I have not looked at in a comprehensive manner yet. So in addition to Venda specifically, I'll doing my best to cover all the languages of Africa that use Latin orthographies, but it will be a little while before I get around

[2021-07-16 21:21] moyogo commented on #225
U+019D Ɲ should have the same behaviour as U+014A Ŋ, meaning the default form is based on a scaled-up lowercase or based on uppercase N.

[2021-07-17 11:36] NikitaGamer64 commented on #225
Actually, I’d also like all the languages of Russia that use Cyrillic orthographies covered as well

[2021-07-26 09:19] KrasnayaPloshchad opened #228 "Alternative combination for i-hook"
I found a variant of ỉ on the _Dictionarium Annamiticum Lusitanum et Latinum_ (i.e. “Dictionary of Vietnamese, Portuguese and Latin”) that ratains the tittle, in this case the hook is placed at the right of character frame, and the altitude of hook is sightly lower. To implement this variant, you can just modify the mark attachment for 0069 0307 0309.

See: https://commons.wikimedia.org/wiki/File:

[2021-07-29 04:19] Arshad-iOSDeveloper opened #229 "App Crash using SourceSans3-Bold custom font in swift"
While using SourceSans3-Bold font programatically, app is crashing. But other fonts like., SourceSans3-Regular are working fine. My code as below.

`UIFont(name: "SourceSans3-Bold", size: size)`

My app crashing on the above line of code, using swift 4.2.
Please suggest, i have downloaded the font's from this git repo.

[2021-07-29 05:38] Arshad-iOSDeveloper commented on #229
Issue resolved, added fonts in info.plist file

[2021-07-29 05:38] #229 closed

[2021-07-30 10:07] projectshifter opened #230 "IPA symbols with tilde overlay"
An overlaid tilde is used in the IPA to represent velarization or pharyngealization. In many varieties of English, this is the difference between the light [l] sound in leaf and the dark [ɫ] sound in feel. Given that its usage overlaps with that of the superscripts ˠ and ˤ, it is somewhat rare, but it’s still officially part of the IPA.

Unicode proposal [N2632](https://www.unicode.org/wg2/docs/n2

[2021-07-30 11:08] moyogo commented on #230
@projectshifter k̴ , ð̴ and θ̴ are used in [Olivier  Durand, 2017, “Remarques  sur  le  consonantisme  de  l’arabe”, in *Folia Orientalia*, vol. 54](https://journals.pan.pl/Content/106561/PDF/FoliaOrientalia%2054-17%2010Durand.pdf), k̴ is also used in [Ashraf Hassan, 2020, *Stereotyped Representation of the Foreigner in Egyptian Cinema: A Phono-Morpho-Syntactic and Lexical Study and Corpus*](https

[2021-07-30 17:15] fitojb opened #231 "Latest release not in Yarn/NPM"
Perhaps this process needs to be automated?

[2021-07-31 05:02] pauldhunt commented on #230
In fact, I added some of these (n, m which cannot easily take an overlay diacritic) to the latest release of the fonts that went live earlier this month. I also added mark positioning for the those letters with tilde overlay in Unicode that I did not add to the font. Will consider adding the missing forms in the next version.

[2021-07-31 10:15] projectshifter commented on #230
@pauldhunt I did see ᵯ ᵰ in the glyph list, but I didn’t realize you had already implemented the tilde overlay on other letters as well.

[2021-07-31 12:38] pauldhunt commented on #230
@projectshifter test it out. Let me know what can be improved.

[2021-07-31 19:18] projectshifter commented on #230
@pauldhunt The spacing could be improved, I think. The tilde on ᵯ ᵰ is too wide, and letters with the combining overlay need a little more space around them, and maybe some kerning pairs with ascenders and stress marks.

![image](https://user-images.githubusercontent.com/79190852/127750302-3fe4c2b1-dd61-4451-9606-3fbb19dd91ee.png)

[2021-08-03 01:57] pauldhunt commented on #230
@projectshifter thanks for having a look. what makes you say that the tildes on ᵯ & ᵰ are too wide?

[2021-08-05 09:37] pauldhunt commented on #231
@fitojb I have no idea. Someone from that community should probably do the work.

[2021-08-27 05:01] KrasnayaPloshchad opened #232 "Possibly variant for ầ, ề and ồ"
I have seen that ầ, ề and ồ may have unusual design that placed grave accent at top right of circumflex. Maybe it’s resonable to implement as character variant feature.

See: https://www.bilibili.com/video/BV1E54y1W7x1

[2021-08-28 14:17] fitojb commented on #232
It’s not unusual at all. In fact, it’s the preferred alignment for legibility, according to https://vietnamesetypography.com/design-challenges/

[2021-08-29 02:43] KrasnayaPloshchad commented on #232
Oh I’ve seen that variant in videos from South Vietnam era for first times.

[2021-09-07 10:49] #231 closed

[2021-09-08 10:14] davidimagitech opened #233 "Font name changed from Source Sans Pro to Source Sans 3 / Source Serif Pro to Source Serif 4"
Font name change means that old version of the font cannot be updated in place, meaning that to take advantage of the updated fonts you'd have to update elements in graphics projects one by one, which is obviously a non-starter.

Please consider reverting to the old font names.

[2021-09-08 10:25] davidimagitech commented on #233
Ignore, I see the name change was announced in the release notes.

A fork so that there were separate Source Sans Pro and Source Sans 4 would probably have been a better choice to make the breaking change more obvious though.

[2021-09-08 10:25] #233 closed

[2021-09-08 10:53] pauldhunt commented on #233
@davidimagitech or you can stick with the old version unless you absolutely need the updates, in which case: the updates are in a new version of the software and is worth the price of the upgrade: your time swapping over to new fonts.

[2021-09-08 11:09] frankrolf commented on #233
@davidimagitech Your point is clear, and it’s understandable why some users may be disgruntled – but ultimately, we believed this was the better way forward. See some of the reasons behind the name change in the discussion here:
https://github.com/adobe-fonts/source-serif/issues/77

[2021-09-08 11:26] davidimagitech commented on #233
Thanks @frankrolf, I had seen the topic after my initial post and I understand the rationale, which is why I closed the issue.

As the versions will effectively separate fonts from a user's perspective (different font name, different entries in font drop down boxes), perhaps there should be separate GitHub projects for each, or at the very least a link to the last release for the named version of

[2021-09-08 11:39] frankrolf commented on #233
That’s not a bad idea. 😎
Thanks!

[2021-10-07 03:05] snowbanker opened #234 "Apple PDFKit unable to render MS Word (Windows) documents"
Probably a mixture of issues with the above mentioned software (MS Word 365 v2111, Adobe Acrobat Pro 2020, PDFKit in iOS/iPadOS 15), but I thought I should mention it:

See sample DOCX file attached. [Wikipedia-Star_Wars_(Film).docx](https://github.com/adobe-fonts/source-sans/files/7298304/Wikipedia-Star_Wars_.Film.docx)

This is a Word document using two non-standard typefaces (SS3 Light v3.028 a

[2021-10-07 07:10] frankrolf commented on #234
Screenshots from iPhone 12 Pro, iOS 15.0.1:
![IMG_1575](https://user-images.githubusercontent.com/2049645/136335572-faa298bc-5227-4cc1-9af4-fbc42a319d65.png)
![IMG_1574](https://user-images.githubusercontent.com/2049645/136335598-1d4ca148-613c-4788-a91c-45bb703e9419.png)

The font we’re seeing is the Apple MM replacement font, which implies the font is considered “missing” in the PDF.
Acrobat on i

[2021-10-09 02:49] snowbanker commented on #234
Answering Frank's question: using SS3 Light (i.e. not variable) OTF files in Word for Windows and PowerPoint for Windows (particularly to retain OpenType features as detailed above). Oddly, there is no problem in a PowerPoint converted to PDF using the exact same method in the same version of Office. So it kinda feels like there's  a minor element that iOS 15 looks for that doesn't make it through

[2021-10-21 06:20] projectshifter commented on #224
@joekukish The image I posted does not include Abkhaz characters (since they aren’t supported by Source Serif yet), only Kazakh, Turkish and Azerbaijani.

[2021-11-11 15:18] herrernst opened #235 "hmtx warning for variable font"
when trying to install the current release of the variable font (roman or italic), i get a warning about hmtx table usability on macos.

![Bildschirmfoto 2021-11-11 um 16 12 05](https://user-images.githubusercontent.com/20795/141322678-8c1af71d-f1c8-49bc-84ca-e02774f954f9.png)

also, `ttx` from fonttools complains:

[code]

[2021-11-30 13:27] dr-scsi opened #236 "lnum and tnum features in SourceSans3?"
Hi all,

I checked for the features provided by the latest SourceSans3 fonts (v3.046) with `otfinfo` and get this:

[code]
I'm not an expert on this, but is it possible that `lnum` and `tnum` features are missing?  This is a problem for applications relying on them (I stumbled over it by trying the fonts with `lualatex` and the `fontspec` package).  The figure versions themselves [are there](https

[2021-12-01 02:26] pauldhunt commented on #236
the default figures are lining (`lnum`) and tabular (`tnum`) by default, so in order to access lining tabular figures simply don’t apply any figure styles.

[2021-12-01 10:35] dr-scsi commented on #236
Thanks for your response.  Is it then possible to turn this question into a "Feature Request"?  It would be helpful when one is writing a LaTeX document (compiled with `lualatex` and with the `fontspec` package) and want to change the fonts locally.  Currently, one has to write code like this:

[code]
where something like this feels more natural:
[code]
The second version throws the following warn

[2021-12-07 03:14] JapanYoshi opened #237 "Romanian ș and ț look malformed"
The Romanian alphabet has 5 special characters, two of which are "S with comma accent below" and "T with comma accent below". However, those two letters have a long history of being confused as having a cedilla below.

Most Google Fonts have the Romania letters with the correct comma shape that is clearly distinct from the cedilla. (Note: The sample text reads "In 1 km, exit the highway to Gölbaşı

[2022-01-18 13:48] moyogo commented on #237
The comma below is not ambiguous and should look like a comma in ȘșȚț or in U+0326 by itself or when combined with any other character.

Before S and T characters with comma below were added to Unicode, S and T characters with cedilla were meant to be used in Romanian and were supposed to have the comma shape in modern Romanian, but not necessarily in other languages.
After S and T characters with

[2022-01-25 03:10] #234 closed

[2022-01-25 03:13] #213 closed

[2022-01-25 16:36] fitojb commented on #213
With ttfautohint, one just needs to play with the blue-zone values and one can achieve great results with minimal effort.

[2022-03-15 06:48] SirPL opened #238 "Non-alternative greek uppercase forms not accessible"
Hi.
I have problem with greek capitals. Even though regular forms of capital letters (i.e. reverse-V-shaped lambda) are shown by DTP apps (see yellow highlight), their variants (see red letters) are enabled by default _and_ I see no way to turn those variants off.

I am using non-variable font, version 3.046.

I checked the font in Affinity Publisher and Adobe InDesign (CS6) and the issue occurs i

[2022-03-15 10:43] frankrolf commented on #238
I am confirming this behavior in ID 17, see here:
<img width="793" alt="Screen Shot 2022-03-15 at 11 38 50" src="https://user-images.githubusercontent.com/2049645/158360249-c9bfd85e-26cb-4be2-9d3c-766d899bfd88.png">

The reason for this is that Greek is substituted by “Greek for IPA” for any language but Greek:
https://github.com/adobe-fonts/source-sans/blob/master/familyGSUB.fea#L1483-L1485

I do

[2022-03-16 02:02] pauldhunt commented on #238
Just a point of clarification on what @frankrolf has already said: the forms you are seeing are the Latin script variants of Greek characters. These are substituted when using Latin script languages to accommodate not only for IPA but for American Indigenous languages as well.
Setting the language to something other than a language that is written in Latin script will give you the default Greek fo

[2022-03-16 08:36] SirPL commented on #238
@pauldhunt - thank you for explanation.
I have to say this approach is quite... unusual.

I faced the issue when I tried to describe "Γ-distribution". I would argue that _Γ_ in this context is a Greek word :) Personally I would expect IPA alternatives to be turned on when specific Indigenous language is used.

[2022-03-16 09:26] callegar opened #239 "Weird issues about letters in this font not printing correctly on some printers"
I am tentatively opening an issue here, please advice if appropriate.

I am experiencing an issue where some PDF documents (mainly produced with LibreOffice, I think) that use Source Sans 3 end up not printing correctly on some printers. Specifically, when printing some characters (including common ones, like alphabetic chars, such as an "S") these get substituted by a square with a cross in it in

[2022-03-16 17:01] pauldhunt commented on #238
@SirPL  Unfortunately, indigenous orthographies are not as well supported as Greek in Unicode nor in the OpenType spec, so this particular feature is meant to provide cutting-edge support where proper standards support is lacking. Luckily, Greek language tagging is well-supported in many popular environments so the workaround of tagging text as Greek should work almost everywhere, even if it does

[2022-03-16 18:26] frankrolf commented on #238
I can’t help but think that this approach will be more confusing but helpful.
Greek letters are not just used for the Greek language, but especially (and heavily) in scientific context – I don’t think we expect users to change language tagging when using these symbols?

[2022-03-16 18:53] georgd commented on #238
This is a very interesting issue. "Western" users (and I am to be considered one of them) suddenly are experiencing what speakers of less privileged languages are experiencing every day — jumping through multiple loops in order to achieve acceptable output in their mothertongue due to deficient language support.

I support not to change the default behaviour because each language should easily be

[2022-03-16 21:57] pauldhunt commented on #238
@frankrolf Confusing vs Helpful from whose perspective? I don’t typically think of Source Sans as a mathematics font. If someone were to use the font for serious mathematics settings, they would probably want to set the script to `math` or set the language tagging for equations to ‘no langauge’. Doing either of these things, again, will cause the Greek forms to display their default forms. Only ta

[2022-03-16 22:02] pauldhunt commented on #238
@SirPL you said:

 tried to describe

Did you mean to say: ‘Γ in this context _isn’t_ a Greek word’? I just wanted to clarify.

[2022-03-16 22:18] georgd commented on #238
At least, when writing in German, it is considered a foreign word but you wouldn't switch language context for it.

[2022-03-17 00:53] pauldhunt commented on #238
_I_ would, and in fact, I do set up specific character styles for language-specific words when putting together my own InDesign documents so that foreign words are italicized and language marked so as to show up properly when checking spelling in a document, but I guess this is personal habit and preference that varies from typographer to typographer.

[2022-03-17 01:11] #237 closed

[2022-03-17 02:09] georgd commented on #238
Would you really switch language context to Greek for the words _schema_ and _typography_? They belong to the same class of foreign words as _gamma_.

[2022-03-17 05:00] pauldhunt commented on #238
@georgd now we’re talking about something entirely different: while the etymology for the words schema, typography, and gamma is Greek, they have been fully incorporated into English for some time. However, the Greek letter Γ has not. Googling for "Γ-distribution" returns results with the phrase "Gamma distribution" with only one hit in the first page of results actually using the Greek letter. So

[2022-03-17 13:44] JapanYoshi commented on #237
I’ve looked at the other characters with the comma accent, and I think the core problem is that Source Sans’ comma accent is malformed in general. The Latvian language, as you’ve pointed out, requires a comma shape for its “cedilla” letters, and the current Source Sans design pretty much clearly violates that required shape in all ways but that it’s detached from the main body.

![Screenshot_20220

[2022-04-01 07:08] krissik opened #240 "Different display on Windows Chrome and Firefox"
We have recently updated from old "Source Sans Pro" to "Source Sans 3" and noticed that the new font renders very blurry on windows with chrome. On windows and firefox as well on linux and chrome it looks great.

The screenshot shows the same page opened on windows with chrome and firefox. On chrome the font is blurred and weak and because of that bad to read.

![source_sans_win_chrome_vs_firefox]

[2022-04-01 08:41] fitojb commented on #240
It costs them nothing to integrate ttfautohint as a build-process step

[2022-04-08 08:36] CodeCrazy-ywt commented on #128
And a 'wdth' axis if possible.

[2022-04-18 15:45] kiwi0fruit opened #241 "Feature request: more explicit capital I"
Please consider adding (maybe in a stylistic set) more explicit letter I. For example [Noto Sans](https://fonts.google.com/?preview.text=Iulius%20lulz%20Julius&preview.text_type=custom&preview.layout=row&preview.size=32&query=Noto+Sans+Display) has it. But I guess it has not the most optimal design for it. More explicit capital I may be useful for classical Latin like [Iulius](https://en.wiktionar

[2022-04-18 15:48] kiwi0fruit commented on #241
It's quite common for [handwriting fonts](https://fonts.google.com/?preview.text=Iulius%20lulz%20Julius&preview.text_type=custom&preview.layout=row&preview.size=32&category=Handwriting) to have this same approach where capital I and capital J look alike but J is more "pronounced".

[2022-04-19 05:09] pauldhunt commented on #241
The stylistic set you are looking for is Sytlistic Set #1 labeled "Serifed I" in programs that can expose the stylistic set names. You can also access this character via its unicode point: U+A7AE: Ɪ.

[2022-04-19 05:09] #241 closed

[2022-04-19 05:25] kiwi0fruit commented on #241
Thank you!

[2022-04-19 10:38] kiwi0fruit commented on #241
@pauldhunt Thank you again. I'll just speak up. May be you'll consider it. May be not. Using *serifed* I in a *sans-serif* font feels suboptimal. But at the moment it's a best solution for ambiguity. I played with J-like capital I described above and it's a poor solution in general. In abbreviations it looks bad. But where it looks OK is before lowercase vowel letters. If to implement ligatures fo

[2022-04-20 12:48] pauldhunt commented on #241
@kiwi0fruit roll your own version. the artwork exists. download the tools. Shuffle the alternates in the GOADB, rename the fonts, build with the AFDKO and you’re good to go. good luck! 🍀

[2022-05-09 05:21] kiwi0fruit commented on #241
@pauldhunt thanks for encouraging! I guess I'll give it a shot when I test whether Linux file manager uses ligatures of the fonts for displaying. Recently I switched to using Source Sans 3 as a default interface font whenever I can customize a font (it's actually almost everywhere on Linux and in browsers that support Chrome extensions on Android).

[2022-05-09 05:48] kiwi0fruit commented on #241
Ubuntu supports font ligatures in all UI (I had problems applying stylistic sets to some UI elements but ligatures word just fine everywhere). So when I would have free time I'll implement the design described above via ligatures of Ia,Iu,Io,Ie,Iy.

[2022-05-21 15:01] NDPtype opened #242 "Suggestion: Iota subscript alternates for Polytonic Greek"
The fonts has only the adscript form, but I want a iota subscript variant.
Here is my example design.
![polytonicgreek](https://user-images.githubusercontent.com/105497069/169657268-837f5b20-7c5a-4d87-a875-4019b0b46eab.png)
So can you please add this for me?

[2022-06-07 15:12] NDPtype opened #243 "Some uppercase Iotas doesn't have a "serifed I" form"
When I use the fonts in Photoshop, I saw that some diacritic variants of uppercase Iota (**Ί Ἰ Ἱ Ἲ Ἳ Ἴ Ἵ Ἶ Ἷ Ὶ** and **Ί**) doesn't have a "serifed I" form, while other "I" letters does have a serifed form.

Some screenshots:
![Screenshot 2022-06-07 220451](https://user-images.githubusercontent.com/105497069/172416080-9deebd19-237f-412f-8dfb-de1105093d89.png)
![Issue 2](https://user-images.githubu

[2022-06-19 08:43] NDPtype opened #244 "Suggestion: Uppercase for ɲ & ʋ"
Source Sans 3 is missing support for uppercase 'N left hook' (**Ɲ**) and V hook (**Ʋ**) letters. Can you please add them in the next versions?

[2022-07-07 20:56] duckbedsun commented on #213
@pauldhunt
Could you release the latest manually hinted version please?
2.020 (hinted) is available on the releases page.
I don't find 2.021.

[2022-09-05 14:22] LEOYoon-Tsaw opened #245 "Suggestion: add support for ȳ"
Currently the font supports y with many marks on it, such as ý ỳ ẏ ŷ ÿ ỹ
But ȳ is left behind. The dash on top is supported for many other letters, such as ā ē ī ū and many other IPA letters with U+0304 Combining Macron.

[2022-09-05 14:29] frankrolf commented on #245
The code point support is informed by the character sets defined here: https://github.com/adobe-type-tools/adobe-latin-charsets – ȳ would be part of the largest character set, AL-5.

BTW – since Source Sans has support for the mark feature, you can enter the same combination by using a combination of
`y` and `̄` (U+0304 COMBINING MACRON)

[2022-09-06 01:26] pauldhunt commented on #245
I will add this character in the next major update.

[2022-09-06 01:26] pauldhunt commented on #244
I will add these characters in the next major update.

[2022-09-06 01:27] pauldhunt commented on #243
I will fix this issue in the next major update.

[2022-09-06 01:27] pauldhunt commented on #242
I will consider this feature for the next major update.

[2022-09-06 01:28] pauldhunt commented on #240
I am assuming that you are using the TT fonts? Can you confirm? I am currently working on a patch that adds automated hinting to the TT fonts.

[2022-09-06 01:30] #238 closed

[2022-09-06 02:54] #232 closed

[2022-09-06 02:55] #228 closed

[2022-09-06 02:55] pauldhunt commented on #228
I do not think I will support this variant in Source Sans.

[2022-09-06 05:46] krissik commented on #240
Yes, I can confirm.

[2022-09-07 07:00] pauldhunt commented on #240
I have updated the TT fonts to the auto-hinted versions in the binary downloads for the [latest release](../../releases/latest).
Please have a test and see if you get, better results with the updated fonts and report back.

[2022-09-12 06:42] pauldhunt commented on #240
@krissik have you tried the updated fonts as noted in the message above from 5 days ago?

[2022-09-12 10:59] krissik commented on #240
Yes, we have tried it. It is still blurry :-(
![still-blurry](https://user-images.githubusercontent.com/5301889/189637104-c540aac9-f497-438c-aac4-fc23c834d2d5.png)

[2022-09-13 02:39] pauldhunt commented on #240
@krissik from your image I see very small difference. have you tried using the next weight up to see if the rendering is better? btw, what weight is this you are showing? Is it the regular?

[2022-09-22 06:56] nmsmith opened #246 "Suggestion: make the tail of lowercase L a tiny bit more pronounced."
I love Source Sans. I've noticed a small quirk though: in certain contexts, the tail of the letter `l` is so subtle that it is nearly invisible. In my (subjective) experience, this affects readability.

I would like to propose that the tail of the letter `l` be lengthened slightly, so that it is more easily noticed. I've made a mockup below that demonstrates the kind of difference I'd like to see.

[2022-09-23 22:39] devosb opened #247 "case issue with git and glyph layers"
For several years I have imported a subset of Latin glyphs from Source Sans (using the UFOs in the Instances folders) for use in other non-roman fonts. This year the import failed, my import script uses fonttools and fonttools threw an exception
[code]
[This code](https://github.com/fonttools/fonttools/blob/main/Lib/fontTools/ufoLib/glifLib.py#L203-L204
) was [added](https://github.com/fonttools/f

[2022-10-12 22:47] pauldhunt commented on #247
@devosb Is there an actual issue here that you would like to see resolved? Or is this just informative?

[2022-10-12 22:52] pauldhunt commented on #246
@nmsmith I will have a look at it, but will make no promises that anything will change. The tail is not so much meant to be noticed as it is to be felt, in particular as a small detail that helps differentiate it from similar letter shapes. Even at the small image sizes you show here, I believe it is doing that job.

[2022-10-12 23:36] nmsmith commented on #246
I understand what you mean, and I believe we want the same aesthetic for the font. My belief that the `l` is a bit too subtle is drawn from my recent experience using it at small font sizes for both prose and short snippets such as button labels. The issue is more pronounced on low DPI screens. Here's another example:

![text](https://user-images.githubusercontent.com/909604/195464774-24ff2c07-7fa

[2022-11-17 16:12] frankrolf commented on #247
I think I worked around this issue in Source Serif by making the .gitignore file slightly more complex:
https://github.com/adobe-fonts/source-serif/blob/main/.gitignore#L9-L16